name: Go

on:
  push:
    branches:
      - master
  pull_request:
    branches: 
      - master

jobs:
  test:
    name: Testing
    runs-on: ubuntu-latest
    steps:
    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: ^1.14
      
    - name: Checkout code
      uses: actions/checkout@v2
      
    - name: Test
      run: go test -v ./...
